.data-pickers > div {
  margin-right: 24px;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: 24px;
  margin-bottom: 24px;
}

.payHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error {
  margin: 0 auto 20px auto;
}

.detailOrderButton {
  margin: 20px auto 0 180px;
}

.data-pickers {
  margin-top: 30px;
}

.drawer-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  iframe {
    flex: 1;
    width: 100%;
  }
  .drawer-controls {
    height: 100px;
  }
}
